# Filesystem & Dev

.DS_Store
.phing_targets

# WordPress

public/wp

# Application

public/app/plugins/*
!public/app/plugins/advanced-custom-fields-pro
!public/app/plugins/finding-beyond-photos
!public/app/plugins/bootstrap-ninja-forms
!public/app/plugins/.gitkeep
public/app/upgrade
public/app/uploads/*
public/app/themes/*
!public/app/themes/.gitkeep
!public/app/themes/finding-beyond
public/app/cache/

# Phingy

build.xml
config/phing.properties

# Composer

vendor/

# NPM

node_modules/
npm-debug.log

# Bundler

.bundle/

# Data

storage/logs/*
!storage/logs/.gitkeep
storage/database/*
!storage/database/.gitkeep

# Assets

*/**/assets/build/
!*/**/assets/css/vendor
!*/**/assets/js/vendor

# Misc.

bin/*
!bin/init
!bin/build
.env
.env.salts
config/httpd.conf
