//== Flexbox
//

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

//== Cursors
//

.cursor-pointer {
    cursor: pointer;
}

//== Breakpoint show / hide
//

.hide-sm {
    @include media-sm {
        display: none;
    }
}

.show-sm-block {
    display: none;
    @include media-sm {
        display: block;
    }
}

.show-sm-inline-block {
    display: none;
    @include media-sm {
        display: inline-block;
    }
}

.show-md-block {
    display: none;
    @include media-md {
        display: block;
    }
}

.show-md-inline-block {
    display: none;
    @include media-md {
        display: inline-block;
    }
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.a-clean {
    @include link-clean;
}

.color-primary {
    color: $brand-primary;
}

.absolute-fill {
    @include absolute-fill;
}

// Links

@each $brand-color, $color in $brand-colors {
    .link-color--#{$brand-color} {
        @include link-color-clean($color);
    }
}

.link-color--white {
    @include link-color-clean(white);
}

@each $brand-color, $color in $brand-colors {
    .link-underline--#{$brand-color} {
        @include link-underline($color);
    }
}

.link-underline--white {
    @include link-underline(white);
}
