.site-footer {
    font-size: 14px;
    background-color: rgb(51, 51, 51);
    color: white;
    padding: 40px 0;
    text-align: center;
    @include media(md) {
        text-align: left;
    }
    &__col {
        @include media-max(md) {
            width: 100%;
        }
    }
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    &__copy {
        width: 100%;
        order: 2;
        @include media(md) {
            order: 1;
            width: auto;
        }
    }
    &__social {
        order: 1;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 14px;
        align-items: center;
        @include media(md) {
            order: 2;
            width: auto;
            margin-bottom: 0;
        }
    }
    .blogmeetsbrand {
        width: 70px;
        margin-left: 20px;
    }
}

.social-icon-circled {
    position: relative;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $brand-primary;
    font-size: 20px;
    transition: all 0.3s;
    margin-left: 10px;
    color: rgb(51, 51, 51);
    &:before {
        transition: background 0.3s;
        content: '';
        border-radius: 50%;
        position: absolute;
        width: 34px;
        height: 34px;
        top: 3px;
        left: 3px;
        background: $brand-primary;
    }
    [class*="icon-"]{
        display: flex;
        z-index: 1;
    }
    &:hover {
        color: $brand-primary;
        font-size: 28px;
        &:before {
            background: rgb(51, 51, 51);
        }
    }
}

.footer-nav {
    margin-top: 20px;
    @include media(md) {
        margin-top: 10px;
    }
    &__menu {
        display: flex;
        flex-wrap: wrap;
        @include list-unstyled;

        .menu-item {
            margin-right: 20px;

            a {
                color: white;
            }
        }

        @include media-max(md) {
            justify-content: center;

            .menu-item {
                margin-bottom: 12px;
            }
        }
    }
}
