html {
    -webkit-font-smoothing: antialiased;
}

body {
    .single-content {
        p {
            font-size: 18px;
            line-height: 30px;
        }
    }
    .sidebar {
        p {
            font-size: 16px;
            line-height: 26px;
        }
    }
}

.primary-color {
    color: palette('primary');
}

.full-width-section {
    padding: 40px 0;
}

.single-content {
    margin-top: 30px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 100;
}

.link-block {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.my-gallery figure {
    width: 30%;
}

.masonry-grid {
    transition: opacity 0.3s linear;
    opacity: 0;
}

.section-header {
    display: inline-block;
    background-color: white;
    z-index: 1;
    padding: 14px 14px;
    margin-bottom:  20px;
    &:before {
        z-index: -1;
        content: '';
        position: absolute;
        top: 36%;
        left: 0;
        right: 0;
        border-bottom: 4px solid black;
    }
}

