html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: white;
    .single-content {
        p {
            font-size: 18px;
            line-height: 30px;
        }
    }
    .sidebar {
        p {
            font-size: 16px;
            line-height: 26px;
        }
    }
}

.primary-color {
    color: palette('primary');
}

.full-width-section {
    background-color: white;
    padding: 40px 0;
}

.single-content {
    margin-top: 30px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 100;
}

.link-block {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.my-gallery figure {
    width: 30%;
}

.masonry-grid {
    transition: opacity 0.3s linear;
    opacity: 0;
}

.section-header {
    margin-bottom:  20px;
    span {
        background: white;
        z-index: 10;
        display: inline-block;
        position: relative;
        padding: 0 12px;
    }
    &:after {
        z-index: 1;
        content: '';
        position: absolute;
        top: 36%;
        left: 0.9375rem;
        width: calc(100% - 2*0.9375rem);
        border-bottom: 4px solid black;
    }
}

.page-section {
    padding: 40px 0;
}

.btn {
    font-family: 'Comfortaa', cursive;
    font-weight: 600;
}
.tag-cloud {
    a {
        font-family: 'Comfortaa', cursive;
        @include link-color-clean($brand-secondary, white);
        display: inline-block;
        transition: all 0.15s;
        padding: 0 4px;
        &:hover {
            transform: scale3d(1.4,1.4,1.4);
        }
    }
}

.archive-cta {
    background-color: rgba($brand-primary, 0.93);
    position: relative;
    &__btn {
        margin-top: 30px;
        background-color: $brand-secondary;
        padding: 14px 24px;
    }
    &__bg-overlay {
        @include absolute-fill;
        background-color: rgba($brand-primary, 0.85);
    }
}
