html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: white;
    p {
        font-weight: 100;
        line-height: 1.7;
    }
    a {
        font-weight: 400;
    }
}

b, strong {
    font-weight: 600;
}

.single-content {
    font-size: 18px;
    line-height: 30px;
    p {
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 30px;
    }
    h1, h2, h3, h4, h5, h6 {
        &:not(.single-content__heading) {
            margin-top: 24px;
            margin-bottom: 20px;
        }
    }
}
.sidebar {
    p {
        font-size: 16px;
        line-height: 26px;
    }
}

.primary-color {
    color: palette('primary');
}

.full-width-section {
    background-color: white;
    padding: 40px 0;
}

.link-block {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.my-gallery figure {
    width: 30%;
}

.masonry-grid {
    transition: opacity 0.3s linear;
    opacity: 0;
}

.section-header {
    margin-bottom:  20px;
    span {
        background: white;
        z-index: 10;
        display: inline-block;
        position: relative;
        padding: 0 12px;
    }
    &:after {
        z-index: 1;
        content: '';
        position: absolute;
        top: 36%;
        left: 0.9375rem;
        width: calc(100% - 2*0.9375rem);
        border-bottom: 4px solid black;
    }
}

.page-section {
    padding: 40px 0;
}

.btn {
    font-family: 'Comfortaa', cursive;
    font-weight: 600;
}
.tag-cloud {
    a {
        font-family: 'Comfortaa', cursive;
        @include link-color-clean($brand-secondary, white);
        display: inline-block;
        transition: all 0.15s;
        padding: 0 4px;
        &:hover {
            transform: scale3d(1.4,1.4,1.4);
        }
    }
}

.prev-next-posts {
    background-color: $brand-primary;
    padding: 20px 0;
    a {
        @include link-color-clean(white);
    }
}

.prev-next-btn {
    display: flex;
    align-items: center;
    [class*="icon-"] {
        padding: 0 16px;
        font-size: 28px;
    }
    &:first-of-type {
        border-right: 1px solid rgba(white, 0.4);
    }
    &:last-of-type {
        justify-content: flex-end;
    }
}

.content-404 {
    padding: 120px 0 40px 0;
}
