.site-header {
    @include font('alt');
    position: fixed;
    top: 0;
    background-color: rgba($brand-primary, 0.9);
    border-bottom: 2px solid white;
    z-index: z('site-header');
    color: white;
    width: 100%;
    height: $header-height;
    .site-logo {
        @include font-size(24px, 1);
        margin-right: 8px;
        text-transform: uppercase;
        @include media(sm) {
            @include font-size(30px);
        }
        a {
            white-space: nowrap;
        }
    }
    &__container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
