.primary-nav {
    @include font-size(14px);
    text-transform: uppercase;
    &__menu {
        list-style: none;
        margin-bottom: 0;
        padding: 3px 0 0;
        @include media-md {
            display: flex;
            padding: 0;
        }
    }
    .menu-item {
        width: 100%;
        line-height: 50px;
        a {
            display: block;
            padding: 0 20px;
            color: white;
        }
        &.current-menu-item {
            background-color: white;
            a {
                color: $brand-primary;
            }
        }
    }
}
.primary-nav-wrapper {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s linear;
    background-color: rgba($brand-primary, 0.9);
    .mobile-menu-active & {
        visibility: visible;
        opacity:1;
    }
    @include media-md {
        position: relative;
        visibility: visible;
        opacity: 1;
        top: 0;
        background-color: transparent;
    }
}



.mobile-menu-trigger {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50px;
    height: 50px;
    transition-duration: 0.3s;

    .icon {
        transition-duration: 0.3s;
        position: absolute;
        height: 3px;
        width: 30px;
        background-color: white;
        border-radius: 2px;
        border-radius: 2px;

        &:before{
            transition-duration: 0.3s;
            position: absolute;
            width: 30px;
            height: 3px;
            background-color: white;
            content: "";
            top: -10px;
            border-radius: 2px;
        }

        &:after{
            transition-duration: 0.3s;
            position: absolute;
            width: 30px;
            height: 3px;
            background-color: white;
            content: "";
            top: 10px;
            border-radius: 2px;
        }
    }

    .mobile-menu-active & {
        .icon {
            transition-duration: 0.3s;
            background: transparent;
            &:before {
                transform: rotateZ(45deg) scaleX(1.25) translate(6.5px, 6.5px);
            }
            &:after {
                transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -6px);
            }
        }
    }
    @include media-md {
        display: none;
    }
}
