@include font-face(finding-beyond);

a:hover, a:focus {
    [class^="icon"],
    [class*=" icon-"] {
        text-decoration: none;
    }

    &[class^="icon"],
    &[class*=" icon-"] {
        text-decoration: none;
    }
}

@mixin icon-font {
    font-family: "finding-beyond" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon"]:before,
[class*=" icon-"]:before {
    @include icon-font;
}

.icon-plane:before {
  content: "\61";
}
.icon-globe:before {
  content: "\62";
}
.icon-palm-tree:before {
  content: "\63";
}
.icon-facebook:before {
  content: "\64";
}
.icon-twitter:before {
  content: "\65";
}
.icon-instagram:before {
  content: "\66";
}
