.card-wrapper {
    margin-bottom: 20px;
}

.card {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    height: 100%;
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.15);
    border: none;
    &-img-wrapper {
        position: relative;
    }
    img {
        max-width: 100%;
    }
    // &:hover {
    //     .card-slide {
    //         opacity: 1;
    //         visibility: visible;
    //     }
    //     .card-slide-content {
    //         transform: scale(1,1);
    //     }
    // }
}

.card-tag {
    @include font-size(11px);
    position: absolute;
    background: #ffffff;
    bottom: 6px;
    left: -10px;
    padding: 4px 10px;
    box-shadow: -1px 1px 5px rgba(128, 128, 128, 0.15);
    &:before {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 10px 0;
        border-color: transparent #e6e5e5 transparent transparent;
        position: absolute;
        bottom: -10px;
        left: 0;
    }
}

.card-block {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    .btn {
        margin-top: auto;
    }
}

.card-slide {
    padding: 20px;
    color: white;
    background-color: rgba($brand-primary, 0.9);
    left: 0;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.4s;
    font-weight: 100;
    z-index: 1;
    .card-slide-more {
        margin-top: auto;
    }
}

.card-slide-content {
    transition: all 0.4s;
    transform: scale(0.7,0.7);
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 0;
}

.card-meta {
    @include font-size(12px);
    margin-bottom: 6px;
}

.card-link {
    @include absolute-fill;
    z-index: 1;
}
