.list {
    &--unstyled {
        @include list-unstyled;
    }
    &--inline {
        li {
            display: inline-block;
        }
    }
}

ul:not(.list--unstyled) {
    li { padding-left: 10px;}
}

.wp-caption {
    text-align: center;
    .wp-caption-text {
        color: $gray-dark;
        padding: 0;
        font-size: 12px;
        font-weight: 600;
    }
}
