.social-bar {
    &__item-wrapper {
        &:not(:last-of-type) {
            border-right: 1px solid rgba(black, 0.1);
        }
    }
    &__item {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding: 20px 0;
        position: relative;
    }
    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        position: absolute;
        top: -20px;
        left: calc(50% - 20px);
        font-size: 26px;
    }
}
